langchain
langgraph
langsmith
langchain-groq
langchain-community
python-dotenv
pypdf
langchain-text-splitters
sentence-transformers
chromadb
rank-bm25
tavily-python
mcp
langchain-ollama
langchain-mcp-adapters
requests
fastapi
uvicorn[standard]
streamlit
cohere